# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\admin\Documents\GitHub\cours-algo\algo-exercice\algo-js\decouverte-js\Exercices algo-js partie 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
